* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; /* fontları daha iyi hale getiriyor*/
}

/* HEADER */
.header {
    height: 90px;                  /* sabit yükseklik */
    display: flex;
    align-items: center;           /* dikey ortalama */
    justify-content: space-between;
    padding: 0 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* LOGO */
.logo {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: -60px;   /* ← BURASI AYAR */
}


.logo img {
    width: 220px;
    height: auto;
    object-fit: contain;
    object-position: left center; /* ASIL KURTARAN SATIR */
    display: block;
}


/* MENU */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
/* sağ üstteki butonlara animasyon ekler */
.menu a { 
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.menu a:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}

.menu a:hover::after {
    width: 100%;
}


/* MAİN SECTION */
.main {
    height: 100vh;
    background: linear-gradient(180deg, #6C63FF, #8A7CFF);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* DALGA ALT KISIM */
.main::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #ffffff;
    border-top-left-radius: 50% 100px;
    border-top-right-radius: 50% 100px;
}

/* MAİN CONTENT */
.main-content {
    max-width: 700px;
    padding: 20px;
    color: #fff;
    z-index: 1;
}

.main h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.main h1 span {
    color: #E0DDFF;
}

.main p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px;
}

/* BUTONLAR */
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 14px 36px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.primary {
    background: #ffffff;
    color: #6C63FF;
}

.secondary {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
